snippet arena
        var arena = std.heap.ArenaAllocator.init(std.heap.page_allocator);
        defer arena.deinit();

snippet gpa
        var gpa = std.heap.GeneralPurposeAllocator(.{}){};

snippet allocator
        const allocator = ${1}.allocator();

snippet array_list
        var ${1} = std.ArrayList(${2}).init(${3});
        defer ${1}.deinit();

snippet auto_hash_map
        var ${1} = std.AutoHashMap(${2}, ${3}).init(${4});
        defer ${1}.deinit();
