snippet arena
        var arena_state: std.heap.ArenaAllocator = .init(${1|std.heap.smp_allocator,std.heap.page_allocator|});
        defer arena_state.deinit();

snippet debug_allocator
        var debug_allocator: std.heap.DebugAllocator(.{}) = .init;
        defer _ = debug_allocator.deinit();

snippet allocator
        const allocator = ${1}.allocator();

snippet array_list
        var ${1}: std.ArrayListUnmanaged(${2:type}) = .empty;
        defer ${1}.deinit(${3:allocator});

snippet auto_hash_map
        var ${1}: std.AutoHashMapUnmanaged(${2:key}, ${3:value}) = .empty;
        defer ${1}.deinit(${4:allocator});

snippet format
        pub fn format(
            self: ${1},
            comptime fmt: []const u8,
            options: std.fmt.FormatOptions,
            writer: anytype,
        ) !void {
            _ = fmt;
            _ = options;

            ${2} 
        }

